/*---------------------------------MOBILE SCREEN---------------------------------*/
@media screen and (min-width:400px) {

html {
  scroll-behavior: smooth;
}

body {
  color: #402a20;
  font-size: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f9f9f9; 
}

nav li {
  font-family: 'Raleway', sans-serif; 
  text-align: center;
  padding: 15px;
  font-size: 13px;

}

nav a {
  color: #381d2a;
  text-decoration: none; 
  text-transform: lowercase;
}

nav {
  background-color: #edece9; 
  color: #402a20;
  width: 100%; 
  align-items: center;
  padding: 0px;
}

.nav_links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav_links #current-page {
  border-bottom: 3px solid #402a20;
}

h1{
  font-size: 40px;
  padding-top: 20px;
}

h2{
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

h3{
  font-size: 20px;
}

h1, h2, h3{
    padding-left: 50px; /* change for each media screen */
    padding-right: 50px; /* change for each media screen */
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
p, li{
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 12px;
  text-align: center;
  padding-left: 20px; /* change for each media screen */
  padding-right: 20px; /* change for each media screen */
}

ul{
  list-style-type: none;
}

img{
  max-width: 400px;
  max-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a{
  color: rgb(38, 122, 179);
  font-family: 'Poppins', sans-serif;
}

.navigation a{
  text-decoration: none;
  font-size: 20px;
  color: #402a20;
  display: inline-block;
  padding: 8px 16px;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
}

.next{
  float:right;
}
.previous{
  float:left;
}

.navigation a:hover{
  background-color: #402a20;
  color: #f9f9f9;
}

/*-----------HOME.HTML-----------*/

.researchbox, .hsroboticsbox, .projectsbox{
    position:relative;
    padding-bottom: 45px;
  }
.researchbox img, .hsroboticsbox img, .projectsbox img{
    max-width: 300px;
    opacity: 1;
}

.overlay {
    opacity: 1;
}
  
.text {
    color: #402a20;
    background: #f9f9f9;
    font-size: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

/*-----------RESEARCH.HTML-----------*/

/*-----------PROJECTS.HTML-----------*/
.projectscontainer {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #f9f9f9;
    justify-content: space-evenly;
    justify-items: center;
    align-items:center;
    max-width: 900px; 
    margin: auto;
    grid-gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .projectscontainer img{
    max-width: 800px;
    max-height: 800px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 10px 10px 5px grey;
    padding: 0px;
  }
  
  
  .projectscontainer > div  {
    background-color: #f9f9f9;
  }
  
  .projectsintro{
    grid-column: 1/end;
  }
  
  .p1, .p2, .p3, .p4, .p5, .p6{
    grid-column: 1/2;
  }
  
  .p1 p, .p2 p, .p3 p, .p4 p, .p5 p, .p6 p{
    padding: 0px;
    font-size: 15px;
  }
  
  .p1i, .p2i, .p3i, .p4i, .p5i, .p6i{
    grid-column: 2/end;
    position: relative;
  }

  .project-overlay {
    opacity: 1;
  }
  
  .project-text{
    color: #402a20;
    background: #f9f9f9;
    font-size: 10px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Poppins', sans-serif;
  }
/*-----------ROBOTICS.HTML-----------*/

.documentationsintro{
  padding-bottom: 20px;
}

.roboticscontainer img{
  padding-bottom:0px;
  padding-top:0px;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  box-shadow: 10px 10px 5px grey;
  padding: 0px;
}

.seaperch-image, .MATE-image{
  position: relative;
  overflow: hidden;
  max-width: 800px;
  max-height: 800px;
  opacity: 1;
}

.seaperch-image img, .MATE-image img{
  box-shadow: 0px 0px 0px;
}

.competition-overlay {
  opacity: 1;
}

.competition-text h2{
  color: #402a20;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  padding-bottom: 0px;
}

.roboticsintro{
  max-width: 1500px; 
}

.roboticscontainer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #f9f9f9;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  max-width: 900px; 
  margin: auto;
  grid-gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.roboticscontainer > div  {
  background-color: #f9f9f9;
  text-align: center;
  padding: 10px 0px;
}

.roboticsintro, .seaperch-image, .seaperch-description, .MATE-image, .MATE-description, .documentationsintro{
  grid-column:1/end;
}

.doc1p, .doc2p, .doc3p{
  grid-column:1/2;
}

.doc1i, .doc2i, .doc3i{
  grid-column: 2/end;
  position: relative;
}

.document-overlay {
  opacity: 1;
}

.document-text{
  color: #402a20;
  background: #f9f9f9;
  font-size: 10px;
  text-align: center;
  padding-top: 8px;
  font-family: 'Poppins', sans-serif;
}


/*-----------CONTACT.HTML-----------*/

.outro{
  background: #000000;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 800px;
  max-width: auto;
  background-size: cover;
  background-position: center;
  background-image: url("../imgs/contact.jpg");
  background-repeat: no-repeat;
  opacity: .75;
}
.outro-text{
  text-align: center;
  color: #f9f9f9;
  padding-top: 300px;
}
} /*closing media screen*/