/*---------------------------------MOBILE SCREEN---------------------------------*/
@media screen and (min-width:400px) {

html {
  scroll-behavior: smooth;
}

body {
  color: #402a20;
  font-size: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f9f9f9; 
}

nav li {
  font-family: 'Raleway', sans-serif; 
  text-align: center;
  padding: 15px;
  font-size: 13px;

}

nav a {
  color: #381d2a;
  text-decoration: none; 
  text-transform: lowercase;
}

nav {
  background-color: #edece9; 
  color: #402a20;
  width: 100%; 
  align-items: center;
  padding: 0px;
}

.nav_links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav_links #current-page {
  border-bottom: 3px solid #402a20;
}

h1{
  font-size: 40px;
  padding-top: 20px;
}

h2{
  font-size: 25px;
  padding-top: 15px;
}

h3{
  font-size: 20px;
}

h1, h2, h3{
    padding-left: 50px; /* change for each media screen */
    padding-right: 50px; /* change for each media screen */
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
p, li{
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 12px;
  text-align: center;
  padding-left: 20px; /* change for each media screen */
  padding-right: 20px; /* change for each media screen */
}

ul{
  list-style-type: none;
}

img{
  max-width: 400px;
  max-height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a{
  color: rgb(38, 122, 179);
  font-family: 'Poppins', sans-serif;
}

.navigation a{
  text-decoration: none;
  font-size: 20px;
  color: #402a20;
  display: inline-block;
  padding: 8px 16px;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
}

.next{
  float:right;
}
.previous{
  float:left;
}

.navigation a:hover{
  background-color: #402a20;
  color: #f9f9f9;
}

/*------HOME.HTML------*/

.researchbox, .hsroboticsbox, .projectsbox{
    position:relative;
    padding-bottom: 45px;
  }
.researchbox img, .hsroboticsbox img, .projectsbox img{
    max-width: 300px;
    opacity: 1;
}

.overlay {
    opacity: 1;
  }
  
.text {
    color: #402a20;
    background: #f9f9f9;
    font-size: 30px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
  }


/*
.intro {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.introphrase p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.researchbox, .hsroboticsbox, .projectsbox {
  position:relative;
  width: 75%;
  padding-bottom: 45px;
}

.homecontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:#f9f9f9;
  padding: 20px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  max-width: 850px; 
  margin: auto;
}

.homecontainer > div  {
  background-color: #f9f9f9;
  text-align: center;
}


.home-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f9f9f9;
}

.researchbox:hover .overlay, .hsroboticsbox:hover .overlay, .projectsbox:hover .overlay{
  opacity: 1;
}

.text {
  color: #402a20;
  font-size: 20px;
  position: absolute;
  top: 43%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

*/

} /*closing media screen*/